<div class="col-md-2 bg-dark text-white min-vh-100 p-0">

<h4 class="text-center py-3 border-bottom">
    🎓 ERP MENU
</h4>

<div class="list-group list-group-flush rounded-0">

<a href="{{ url_for('dashboard') }}"
   class="list-group-item list-group-item-action bg-dark text-white border-0">
🏠 Dashboard
</a>

<a href="{{ url_for('students') }}"
   class="list-group-item list-group-item-action bg-dark text-white border-0">
👨‍🎓 Students
</a>

<a href="{{ url_for('subjects') }}"
   class="list-group-item list-group-item-action bg-dark text-white border-0">
📚 Subjects
</a>

<a href="{{ url_for('marks') }}"
   class="list-group-item list-group-item-action bg-dark text-white border-0">
📝 Marks
</a>

<a href="{{ url_for('analytics') }}"
   class="list-group-item list-group-item-action bg-dark text-white border-0">
📈 Analytics
</a>

<a href="{{ url_for('reports') }}"
   class="list-group-item list-group-item-action bg-dark text-white border-0">
📄 Reports
</a>

<a href="{{ url_for('settings') }}"
   class="list-group-item list-group-item-action bg-dark text-white border-0">
⚙ Settings
</a>

</div>

</div>